apiVersion: apps/v1
kind: Deployment
metadata:
  name: karpenter-operator
  namespace: HCP_NAMESPACE
  labels:
    app: karpenter-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: karpenter-operator
  template:
    metadata:
      labels:
        app: karpenter-operator
    spec:
      serviceAccountName: karpenter-operator
      terminationGracePeriodSeconds: 10
      volumes:
        - name: target-kubeconfig
          secret:
            secretName: hcco-kubeconfig
            defaultMode: 0640
            items:
              - key: kubeconfig
                path: target-kubeconfig
      containers:
        - name: karpenter-operator
          image: karpenter-operator # replaced by adaptDeployment
          command:
            - "/usr/bin/karpenter-operator"
          args:
            - "--target-kubeconfig=/mnt/kubeconfig/target-kubeconfig"
            - "--namespace=$(MY_NAMESPACE)"
          env:
            - name: MY_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          resources:
            requests:
              memory: "60Mi"
              cpu: "10m"
          volumeMounts:
            - name: target-kubeconfig
              mountPath: "/mnt/kubeconfig"
