# The content below is a placeholder required by the asset loading framework

apiVersion: apps/v1
kind: Deployment
metadata:
  name: oauth-openshift2
spec:
  selector:
    matchLabels:
      app: oauth-openshift2
  template:
    metadata:
      labels:
        app: oauth-openshift2
    spec:
      containers: []
