apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: cluster-logging
  namespace: openshift-logging 
spec:
  channel: "5.0" 
  name: cluster-logging
  source: redhat-operators 
  sourceNamespace: openshift-marketplace