[Unit]
Description=Merge kubelet pull secrets with auth.d drop-ins
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=/usr/local/bin/merge-pull-secrets.sh
