[Unit]
Description=Sets up local IP to proxy API server requests
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup-apiserver-ip.sh
ExecStop=/usr/local/bin/teardown-apiserver-ip.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
