apiVersion: apps/v1
kind: Deployment
metadata:
  name: kube-scheduler
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: kube-scheduler
  strategy:
    rollingUpdate:
      maxSurge: 3
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: kube-scheduler
    spec:
      containers:
      - args:
        - --config=/etc/kubernetes/config/config.json
        - --cert-dir=/var/run/kubernetes
        - --secure-port=10259
        - --authentication-kubeconfig=/etc/kubernetes/kubeconfig/kubeconfig
        - --authorization-kubeconfig=/etc/kubernetes/kubeconfig/kubeconfig
        - -v=2
        command:
        - hyperkube
        - kube-scheduler
        image: hyperkube
        imagePullPolicy: IfNotPresent
        livenessProbe:
          failureThreshold: 5
          httpGet:
            path: /healthz
            port: 10259
            scheme: HTTPS
          initialDelaySeconds: 60
          periodSeconds: 60
          successThreshold: 1
          timeoutSeconds: 5
        name: kube-scheduler
        resources:
          requests:
            cpu: 25m
            memory: 150Mi
        volumeMounts:
        - mountPath: /var/run/kubernetes
          name: cert-work
        - mountPath: /etc/kubernetes/kubeconfig
          name: kubeconfig
        - mountPath: /etc/kubernetes/config
          name: scheduler-config
      volumes:
      - configMap:
          defaultMode: 420
          name: kube-scheduler
        name: scheduler-config
      - emptyDir: {}
        name: cert-work
      - name: kubeconfig
        secret:
          defaultMode: 416
          secretName: kube-scheduler-kubeconfig
