name: golangci-lint
on:
  pull_request:
    branches:
      - main
jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Go environment
        uses: actions/setup-go@v5.3.0
        with:
          go-version-file: go.mod
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v6.5.0
        with:
          args: --timeout=15m --config=.golangci.yml --issues-exit-code=0
